################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Release
/InventoryManager/x64/Release/InventoryManager.tlog
/InventoryManager/x64/Release
/InventoryManager/x64/Debug
/InventoryManager/Release
/InventoryManager/Debug
/Debug
/.vs/InventoryManager/v15
